<h1>サインアップ</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
        
         <%= f.label t "view.name" %>
         <%= f.text_field :name, class: 'form-control' %>
         
         <%= f.label t "view.mail" %>
         <%= f.text_field :email, class: 'form-control' %>
         
         <%= f.label t "view.password" %>
         <%= f.password_field :password, class: 'form-control' %>
         
         <%= f.label t "view.password_confimation" %>
         <%= f.password_field :password_confimation, class: 'form-control' %>
         
         <%= f.submit t('view.make a account'), class: "btn btn-large btn-primary" %>
         <% end %>
    </div>
</div>
